PORT=9000

MONGODB_URL=mongodb://localhost:27017/expendit

JWT_SECRET=your-jwt-secret

EMAIL_FROM=noreply@example.com

SMTP_Host=smtp.example.com

SMTP_User=your-smtp-user

SMTP_Password=your-smtp-password

SMTP_Port=587

GOOGLE_CLIENT_ID=your-google-oauth-client-id

GEMINI_API_KEY=your-gemini-api-key

GROQ_API_KEY=your-groq-api-key

REDIS_URL=redis://localhost:6379

FRONTEND_URL=http://localhost:3000
