@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.glassmorphism{
  background: rgba(0, 0, 0, 0.94);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-gradient{
  background: linear-gradient(337deg, #B778E9 -18.31%, rgba(168, 68, 247, 0.50) 110.14%);
}

.card{
  background: #FCFCFC;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
}